@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;

}

.movies {
  display: flex;

  align-self: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  direction: rtl;
  width: 70vw;
  
  animation-duration: 3s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

.movie__data {
  position: relative;
  padding-right: 94px;
  border-radius: 4px;
}

.movie__data > img {
  position: relative;
  width: 210px;
  height: 255px;
  z-index: -1;
  /* box-shadow: 0 9px 6px -6px black; */
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies::-webkit-scrollbar {
  all: unset;
  height: 7px;
}

.movies::-webkit-scrollbar-thumb {
  all: unset;
  border-radius: 6px;
  width: 0px;
  background-color: rgba(99, 99, 99, 0.025);
}

.loader {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__text {
  font-weight: bolder;
  font-size: 30px;
  color: black;
}



.content {
  all: unset;
  
  left: 90px;
  width: 200px;
 margin-top: 50%; 
  position: absolute;
  
  font-family: "Noto Sans", sans-serif;
}

.content > h3{
  all: unset;
  font-size: 22px;
  
  color:rgba(255,255,255);
  
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.content > h5{
  color:rgba(255,255,255, 0.5);
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}



@keyframes slide {
  from {
    width: 67%;
  }

  to {
    margin-left: 0%;
    width: 73%;
  }
}

