.overview{
    display: flex;
    font-size: 55px;
    height: 100px;
    margin-left: 21%;
    margin-bottom: 2%;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    
}


.overview:first-of-type {
    animation: showup 10s;
  }
  
.overview:last-of-type {
    width: 0px;
    animation: reveal 8s;
  
    animation-fill-mode: forwards;
  }
  
  .overview:last-of-type span {
    margin-left: -355px;
    animation: slidein 9s;
    animation-fill-mode: forwards;
  }