@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.movies {
  
  display: flex;

  align-self: flex-end;
  overflow-x: scroll;

  width: 70vw;
  
}



.movie__data {
  padding-right: 47px;
  border-radius: 4px;
}

.movie__data > img {
  width: 220px;
  height: 255px;
  z-index: -1;


}

.movies::-webkit-scrollbar {
  all: unset;
  height: 7px;
}

.movies::-webkit-scrollbar-thumb {
  all: unset;
  border-radius: 6px;
  width: 0px;
  background-color: rgba(99, 99, 99, 0.4);
}

.loader {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__text {
  font-weight: bolder;
  font-size: 30px;
}

