*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    

}



.loader{
    position: relative;
    display: flex;
    
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}

.movies{
    display: flex;

    padding: 5vh 28vw;
    position: absolute;
    flex-direction: row;
    margin-top: 20%;
    
  

}


.movie__data{
    
    position: absolute;
    display: flex;
    
    flex-direction: row;

    width: 100%;
}

.movie__content{
    position: absolute;
    display: flex;
    
    flex-direction:column;
    z-index: 2;
    margin-left: 48%;
    margin-top: 60%;
}

.movie{
    display: flex;

    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 30vh;
    margin: 0 30px;

   

}

.movies .movie{
    display: flex;

    position: relative;
    flex-direction: row;
    
    background-color: rgba(116, 185, 255, 0.4);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
}


.movie .movie__title{
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
    margin: 0;
    font-weight: 300;
    
    
}




.movie .movie__year{
    margin: 0;
    font-weight: 300;
}



.movie h3,
.movie h5{
    
    all: unset;
    margin: 0;
    font-weight: 300;
}

.movie h3{
    width: 100%;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bolder;
} 


.movie img{
    max-width: 80%;
    margin-right: 30px;
    width: 100%;
    z-index: -1;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}



.overview{
    z-index: 222;
    font-size: 40px;
    font-weight: bolder;
}