

.movie__title{
    font-size: 70px;
    color:white;
    width: 10%;
    z-index: 1;
    padding-bottom: 30%;
}

.mainpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.mainpage >img{
    width: 37%;
    margin-top: 4%;
    
    z-index: 0;
}

.pluspage{
    all: unset;
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    z-index: 4;
    width: 40%;
}

